# Ignore VS Code workspace settings
.vscode/settings.json

# Node modules
node_modules/

# OS files
.DS_Store
Thumbs.db

# Java class files
*.class

# Logs
*.log

# Ignore files in github folder
github/